@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  position: relative;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#051937), color-stop(#004d7a), color-stop(#008793), color-stop(#00bf72), to(#a8eb12));
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.main_div {
  position: absolute;
  left: 13%;
}

.div_algo {
  background: #E1F5FE;
  position: absolute;
  width: 600px;
  height: 400px;
  top: 410px;
  border: 1px solid black;
}

.Algorithm {
  position: absolute;
  left: 10px;
  font-family: 'Raleway', sans-serif;
}

.graph {
  background: #E1F5FE;
  position: absolute;
  height: 400px;
  width: 600px;
  border: 1px solid black;
  top: 410px;
  left: 610px;
}

.input_container {
  background: #E1F5FE;
  width: 600px;
  height: 400px;
  border: 1px solid black;
  position: absolute;
  top: 0%;
  left: 610px;
}

.inside_input_container {
  position: relative;
  top: 50px;
}

.welcome {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 20px;
  left: 20px;
}

.container {
  position: absolute;
  width: 600px;
  height: 400px;
  background-color: #E1F5FE;
  border: 1px solid black;
}

h5 {
  position: relative;
  left: 2%;
  top: 5%;
  font-weight: bold;
  color: black;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.array_heading {
  position: relative;
  top: 75px;
  left: 5px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.item {
  position: absolute;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #42A5F5;
  -webkit-box-shadow: 0 1px 5px #555;
          box-shadow: 0 1px 5px #555;
  display: inline-block;
  text-align: center;
  left: 1%;
  top: 20%;
  margin: 5px;
}

.cir1, .cir2, .cir3, .cir4, .cir5, .cir6, .cir7, .cir8, .cir9, .cir10 {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fc7978;
  -webkit-box-shadow: 0 1px 5px #555;
          box-shadow: 0 1px 5px #555;
  display: inline-block;
  text-align: center;
  left: 5%;
  top: 70px;
  margin: 5px;
}

@-webkit-keyframes notfound {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: #42A5F5;
  }
  30%, 35% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
    background: #42A5F5;
  }
  50% {
    -webkit-transform: translateY(-120px) scale(1.5);
            transform: translateY(-120px) scale(1.5);
    background: #f0134d;
  }
  99% {
    background: #f0134d;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: #f0134d;
  }
}

@keyframes notfound {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: #42A5F5;
  }
  30%, 35% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
    background: #42A5F5;
  }
  50% {
    -webkit-transform: translateY(-120px) scale(1.5);
            transform: translateY(-120px) scale(1.5);
    background: #f0134d;
  }
  99% {
    background: #f0134d;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: #f0134d;
  }
}

@-webkit-keyframes found {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  1% {
    background: #42A5F5;
  }
  30%, 35% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
    background: #42A5F5;
  }
  50% {
    -webkit-transform: translateY(-120px) scale(1.5);
            transform: translateY(-120px) scale(1.5);
    background: #52de97;
  }
  99% {
    background: #52de97;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: #52de97;
  }
}

@keyframes found {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  1% {
    background: #42A5F5;
  }
  30%, 35% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
    background: #42A5F5;
  }
  50% {
    -webkit-transform: translateY(-120px) scale(1.5);
            transform: translateY(-120px) scale(1.5);
    background: #52de97;
  }
  99% {
    background: #52de97;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: #52de97;
  }
}

.draw_graph {
  top: 200px;
  left: 100px;
  display: none;
}

.button {
  position: relative;
  background-color: #42A5F5;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 160px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  left: 5px;
  top: 5px;
  font-family: 'Raleway', sans-serif;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.text-input {
  position: relative;
  margin-top: 40px;
}

.text-input input[type="text"] {
  position: absolute;
  display: inline-block;
  left: 8px;
  top: 10px;
  width: 300px;
  font-family: 'Raleway', sans-serif;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px 10px 10px 115px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.text-input input[type="text"] + label {
  position: absolute;
  top: 10px;
  left: 8px;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  color: white;
  font-family: 'Raleway', sans-serif;
  border-radius: 3px 0 0 3px;
  padding: 0 20px;
  background: #42A5F5;
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.text-input input[type="text"]:focus + label {
  -webkit-transform: translateY(-105%) translateX(0%);
          transform: translateY(-105%) translateX(0%);
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.text-input input[type="text"]:focus {
  padding: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
/*# sourceMappingURL=anim.css.map */